.dashboard-h2 {
  color: antiquewhite;
}
.animation {
  width:            400px;
  display:          flex;
  justify-content:  space-around
}
.animation:hover {
  width:                    450px;
  text-decoration:          underline;
  text-decoration-style:    solid;
  text-decoration-color:  antiquewhite;
  text-underline-position:  below
}